* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #02090C;
    background: linear-gradient(90deg, #02090C, #250909);
}

@font-face {
    font-family: 'Compacta Bd BT';                 /* Имя для ссылок в коде */
    src: url('/fonts/Compacta-Bd-BT-Bold.ttf') format('truetype'); /* Базовый формат */
    font-weight: bold;                             /* Важно для правильной стилизации */
    font-style: normal;
    font-display: swap;                            /* Улучшает восприятие скорости загрузки */
}

.wrapper {
    padding: 0 135px;
}
h1 {
    font-family: 'Compacta Bd BT', Impact, sans-serif;
    color: #fff;
    font-size: 128px;
    line-height: 100px;
    letter-spacing: 2%;
}
.red-letter{
    color: red;
}
p {
    color: #fff;
    font-family: "Inter", sans-serif;
}
/* ----------------------------------------section header -----------------------------------------*/
.navigation_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 100;
}

.navigation_list {
    height: 90px;
    display: flex;
    flex-direction: row;
    gap: 75px;
    list-style-type: none;
    justify-content:flex-end;
    align-items: center;
    position: relative;
    right: 135px;
}

.navigation_link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 100;
}

.navigation_link:hover {
    color: #858585;
}

.navigation_item {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}
/* ----------------------------------------section concept-----------------------------------------*/
.concept{
    margin-top: 180px;
    /* background-image: url(../img/concept-house.png), url(../img/concept-leon.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, center 15%; */
    background-image: url(../img/ellipse1.png);
    background-repeat: no-repeat;
    background-position: 120% 30%;
}
.concept_text {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #fff;
    line-height: 150%;
    font-weight: 200;
}
.concept_btn {
    min-width: 178px;
    min-height: 77px;
    border-radius: 181px;
    border: none;

    background: #3D0000;
    background: linear-gradient(315deg, #3D0000, #910808);
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
}
.concept_btn:hover {
    color: #fff;
}
.concept_buttons {
    display: flex;
    gap: 20px;
}
.concept_text {
    margin: 45px 0;
}

.concept_content1 {
    margin-top: 221px;
    max-width: 590px;
    min-height: 100vh;
}
.concept_content1 .backg-img {
    position: absolute;
    right: 0;
    top: 0;
}

.concept_content2 {
    /* max-width: 675px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.concept_content2__text {
    max-width: 675px;
    margin-top: 127px;
}
.concept_content2 .backg-img {
    position: absolute;
    left: 0;
    /* bottom: 0; */
}

/* ----------------------------------------section games-----------------------------------------*/
/* #games {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.games_content {
    position: relative;
    max-width: 1200px; 
    overflow: hidden;
}
.game_carousel {
    display: flex;
    gap: 24px;
}

.game-card-image {
    border: #4E4F52 2px solid;
    border-radius: 19px;
} */


#games {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.games_content {
    display: flex;
    align-items: center;
}

.games_label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.game_carousel {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.carousel-container {
    width: 100%;
    position: relative;

    max-width: 1200px; 
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

/* .slide {
    display: none; 
} */

.slide:first-child {
    display: block; 
}
/* .slide:nth-child(2) {
    display: block; 
} */

.game-card-image {
    border: #4E4F52 2px solid;
    border-radius: 19px;
    width: 407px;
    height: 234px;
    margin: 32px 0;
}

.game-card-image:hover {
    box-shadow: 0 0 15px #fff;
}

.game-card-desc{
    color: rgba(255, 255, 255, 0.5);
}

.tab-btn {
    width: 55px;
    height: 42px;
    background: linear-gradient(315deg, #3D0000, #910808);
    border-radius: 14px;
    border: none;
}